.body {
    margin: 0;
    padding: 0;
}

a {
    color: white;
}

.dec_none {
    text-decoration: none;
}

.pad_left_right {
    padding-right: 200px;
    padding-left: 200px;
}

.header {
    width: 100%;
    height: 40px;
    background: rgba(15, 36, 56, 1);
    display: flex;
    justify-content: space-between;

}

.nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrap1 {
    width: 34%;
}

.choose_city {
    width: 140px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;


}

.vector_img {
    width: 14px;
    height: 20px;
}

.city_text {
    color: white;
    margin-top: 17px;
    margin-left: 5px;
}

.text-white {
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
}

.wrap2 {
    width: 50%;
}

.header2 {
    width: 100%;
    height: 200px;
    padding-top: 25px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);

}

.top_block {
    width: 100%;
    height: 50%;
    /*margin-top: 25px;*/
    display: flex;
    justify-content: space-between;
}

.top_block1 {
    display: flex;
}

.logo {
    height: 66px;
    width: 71px;
}

.AVT-ZAP {
    margin-left: 12px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}

.under_name {
    font-size: 12px;
    text-align: right;
}

.clock_photo {
    width: 35px;
    height: 32px;
}

.map_cursor {
    height: 32px;
    width: 25px;
}

.top_block2 {
    display: flex;
    align-items: center;
    column-gap: 10px;
    height: 30px;
    background: rgba(225, 239, 208, 1);
    padding: 20px;
    border-radius: 2px;

}

.whatsapp_logo {
    width: 18px;
    height: 18px;
}

.whatsapp_text {
    color: black;
    font-family: Rubik;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: right;

}

.top_block3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone_number {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

}

.fitback_form {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 5px;
    letter-spacing: 0em;
    text-align: left;
    color: dimgrey;

}

.bottom_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.humburger {
    width: 160px;
    height: 50px;
    background: rgba(0, 91, 185, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    border-radius: 6px;

}

.burger {
    width: 30px;
    height: 50px;
    display: flex;
    align-items: center;


}

.burger span {
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 20px;
    position: relative;
}

.burger span:before, .burger span:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50px;
    background-color: white;
}

.burger span:before {
    bottom: 8px;
}

.burger span:after {
    top: 8px;
}

.catalog_txt {
    margin-top: 12px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.form-inline {
    display: flex;
    flex-direction: row;
    margin-right: 170px;


}

.form-control {
    width: 450px;
    height: 50px;
    background: rgba(244, 245, 250, 1);
}

.btn {
    width: 100px;
    height: 50px;
    background: rgba(0, 91, 185, 1);
    color: white;
    font-weight: 500;
    font-size: 14px;
}

.icons {
    display: flex;
    column-gap: 20px;
}

.entrance {
    display: flex;
    align-items: center;
    column-gap: 16px;
    border-right: 2px solid rgba(225, 229, 248, 1);
}

.person_img {
    width: 30px;
}

.person_txt {
    margin-top: 15px;
    margin-right: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;

}

.busket {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.busket_txt {
    margin-top: 20px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

}

.carousel_wrap {
    display: flex;
    width: 100%;
    margin-top: 50px;
    column-gap: 15px;
}

.carousel-inner {
    width: 940px;
    height: 390px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    background: url("images/Mask Group.png");
    padding-left: 12%;
    border-radius: 20px;
}

.carousel_txt_title {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;

}

.articul {
    color: rgba(113, 113, 113, 1);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}

.price_txt1 {
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;

    color: #005BB9;

}

.price_txt1 span {
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;

    text-decoration-line: line-through;

    color: dimgrey;
}

.txt_wrap1 button {
    width: 160px;
    height: 49px;
    background-color: #005BB9;
    border-radius: 6px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.txt_wrap1 button img {
    height: 25px;
}

.txt_wrap1 button p {
    margin-top: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.carousel-item {
    width: 400px;
}

.carousel-indicators button {
    border-radius: 50%;
}

.sales_wrap {
    height: 180px;
    width: 100%;
    background: #F4F5FA;
    border-radius: 10px;
    padding: 15px;
}

.sales_wrap > p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.sale_content_wrap {
    display: flex;
    column-gap: 15px;
}

.sales_product {
    width: 80px;
    height: 80px;
}

.product_title1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.articul1 {
    font-weight: normal;
    font-size: 12px;
    line-height: 10px;


    color: dimgrey;
}

.sales_prise {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
}

.sales_prise span {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;

    color: #C2C5DA
}

.product_description1 div {
    display: flex;
    column-gap: 50px;
}

.product_description1 button {
    width: 55px;
    height: 45px;
    background-color: rgba(0, 91, 185, 1);
    border: none;
    border-radius: 6px;
}

.product_description1 button img {
    width: 20px;
}

.slider_wrap {
    width: 100%;
    height: 180px;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.slider_block {
    width: 400px;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left: 20px;
    display: flex;
}

.slider_txt_wrap {
    height: 95%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.slider_title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #0A1A2C;

}

.slider_txt {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #0A1A2C;
}

.slider_txt_wrap button {
    background: #005BB9;
    border-radius: 4px;
    border: none;
    color: white;
    width: 85px;
    height: 30px;
}

.sl_btn1 {
    position: absolute;
    height: 40px;
    background-color: white;
    margin-top: 67px;
    margin-left: -5px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.marg_left {
    margin-left: -35px;
}

.block_buttons {
    display: flex;
    margin-top: 40px;
    column-gap: 20px;
}

.main-btn {
    width: 240px;
    height: 55px;
    background: #005BB9;
    border-radius: 6px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.main-btn1 {
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    height: 55px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #005BB9
}

.catalog_wrap {
    display: flex;
    flex-wrap: wrap;
    column-gap: 21px;
    row-gap: 100px;
}

.product_card {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;

}

.star_f {
    display: flex;
    margin-top: 30px;
}

.star_f img {
    height: 15px;

}

.rating {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #FFB800;
}

.otz {
    font-size: 14px;
    line-height: 16px;
    color: #B0B0B0;
    margin-left: 10px;
}

.card_name {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #0A1A2C;
}

.prd_prise {
    font-size: 13px;
    line-height: 15px;
}

.prd_prise span {
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;

    color: #005BB9;
}

.product_card_footer {
    display: flex;
    align-items: end;
}

.product_card_footer button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    background: #005BB9;
    border-radius: 6px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    width: 150px;
    height: 45px;

}

.product_card_footer button img {
    width: 22px;
}

.product_card_footer button p {
    margin-top: 13px;
}

.prd_prise1 {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #FFB800;

}

.prd_prise1 span {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;

    color: #C2C5DA;
    margin-left: 13px;
}
.showmore{
    margin-left: 40%;
    margin-top: 40px;
    width: 180px;
    height: 45px;
    background: #FFFFFF;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;
    justify-content: center;

    color: #005BB9;

}

.news {
    margin-top: 80px;
}
.title__news {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.underline {
    width: 100%;
    height: 10px;
    background: #d2d2d2;
    margin-top: 15px;
}
.news__content {
    display: flex;
    justify-content: space-between;
}
.item__news {
    width: 150px;
}
.firts__news {
    width: 240px;
    height: 236px;
    margin-top: 15px;
}
.news__item {
    width: 106px;
    height: 22px;
    background: #0C1A2A;
    border-radius: 4px;
}

.news__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-left: 17px;
}
.title__new {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #005BB9;
    margin-top: 20px;
}
.second__news {
    width: 240px;
    height: 236px;
    margin-top: 15px;
}
.third__news {
    width: 240px;
    height: 236px;
    margin-top: 15px;
}
.four__news {
    width: 240px;
    height: 236px;
    margin-top: 15px;
}
.descripton__news {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #242424;

}
.under {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #242424;
    margin: 0;
}
.footer{
    display: flex;
    background: rgba(12, 26, 42, 1);
    height: 400px;
    margin-top: 120px;
    margin-left: -200px;
    margin-right: -200px;
}
.footer__content {
    display: flex;
    column-gap: 90px;
    margin-left: 200px;
}
.title__footer {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
    padding-top: 25px;
}
.lower__titl {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.lower__titl_second {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    width: 240px;
}
.card {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background:#0C1A2A ;
    border: none;
}
.text__card {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-right: 134px;

}
.card img {
    width: 138px;
    height: 49px;
}
.company {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #737E9B;
    margin-top: 80px;
    position: relative;
    bottom: 110px;
}
.right__last_footer {
    margin-left: 35px;
}
.last__footer {
    margin-left: 50px;
    display: flex;
    column-gap: 80px;
    flex-wrap: wrap;
}

.last__upper {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
    padding-top: 25px;

}
.lower__footer {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0;
    row-gap: 5px;
}
.right__last {
    width: 230px;
}
.lower__right {
    display: flex;
    column-gap: 15px;
    margin-top: 20px;
}
.online {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #858CAB;
}
.lower__content {
    margin-top: 15px;
}
.righ__lower {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 14px;
}
.low__content {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #858CAB;
    width: 400px;
    margin-top: 15px;
}
.input-group_second {
    display: flex;
    margin-top: 25px;
    justify-content: end;
}
.input-group_second > .form-control {
    width: 300px;
    background: #0C1A2A;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #ADBDD1;
}
.input-group_second button {
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background-color: #005BB9;
    border: none;
    width: 170px;
    height: 51px;
    margin-right: -100px;

}
.soc__networks {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    column-gap: 40px;
}
.soc__networks img {
    width: 16px;
    height: 16px;
}
.nav-item1{
    display: none;
}
