.div_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.post{
    border: 1px solid red;
    margin: 5px;
    width: 19%;
}
.post:hover {
    background: greenyellow;
    transition: .3s;
    transform: rotateY(8grad);
}
.comment{
    border: 1px solid red;
    margin: 5px;
    width: 19%;
}

